<div class="jumbotron text-center container" style="margin-bottom:0;border: 2px solid black;margin-top: 2%;background-color: white;padding: 0">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset('image/logo.jpg') }}" style="width: 75%;">
        </div>
        <div class="col-sm-8" style="padding-top: 7%;">
            <h2>QUESTIONNAIRE DE SATISFACTION</h2>
        </div>
    </div>
</div>