<div class="jumbotron text-center container" style="margin-bottom:0;background-color: white;padding: 0;">
    <div class="row">
        <div class="col-sm-3" style="margin-top: 1%;">
            Date : {{dateActuelle|date('d/m/Y')}}
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-3" id="question_passage" style="margin-left: 5%;">
            <h1>
                {% if(questionnaireActif) %}
                    <i class="fa fa-long-arrow-left" id="question_passage_gauche" onclick="passerPagePrecedante();" style="visibility: hidden"></i>
                    <i class="fa fa-long-arrow-right" id="question_passage_droite" onclick="passerPageSuivante();" style="color: red;cursor: not-allowed;"></i>
                {% endif %}
            </h1>
        </div>
    </div>
</div>