<div class="row" id="question_page_12" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 12 - L’accompagnement par la psychologue du travail :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="col-sm-12 row" style="margin-top: 1%;">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">J’ai connaissance de la présence de la psychologue du travail dans l’établissement dès mon arrivée ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Oui" name="connaissancePresence_accompagnement_psychologueTravail" > Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non" name="connaissancePresence_accompagnement_psychologueTravail" > Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">J’ai bénéficié d’un accompagnement de la psychologue du travail ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Oui" name="beneficieAccompagnement_accompagnement_psychologueTravail" onchange="changezCurseur();document.getElementById('satisfaction_accompagnement_psychologueTravail').style.display = '';"> Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Non" name="beneficieAccompagnement_accompagnement_psychologueTravail" onchange="changezCurseur();document.getElementById('satisfaction_accompagnement_psychologueTravail').style.display = 'none';"> Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 1%;display: none" id="satisfaction_accompagnement_psychologueTravail">
                <label style="font-style: italic;">Estimez votre degré de satisfaction :</label>
                <table class="table table-sm" style="width: 120%;text-align: center;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold;text-align: initial; padding-top: 2%;">Je suis satisfait(e)</td>
                            <td style="font-weight:bold;">Tout à fait d'accord</td>
                            <td style="font-weight:bold;">D'accord</td>
                            <td style="font-weight:bold;">Pas d'accord</td>
                            <td style="font-weight:bold;">Non Concerné</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: initial">du suivi réalisé par la psychologue du travail</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="accompagnementRealise_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="accompagnementRealise_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="accompagnementRealise_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="accompagnementRealise_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de l’écoute de la psychologue du travail</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="ecoutePsychologueTravail_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="ecoutePsychologueTravail_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="ecoutePsychologueTravail_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="ecoutePsychologueTravail_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de la clarté des explications de la psychologue du travail</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="clarteExplications_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="clarteExplications_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="clarteExplications_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="clarteExplications_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">des délais pour les rendez-vous auprès de la psychologue du travail</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="delaisRDV_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="delaisRDV_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="delaisRDV_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="delaisRDV_accompagnement_psychologueTravail"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label style="font-style: italic;">Je souhaite apporter les améliorations suivantes :</label>
                    <textarea class="form-control" rows="3" name="amelioration_accompagnement_psychologueTravail" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>