<div class="row" id="question_page_1">
    <div class="col-sm-12" style="padding: 0">
        <label> 1 - Age : </label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="moins de 26 ans" name="age"> Moins de 26 ans
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="26 - 35 ans" name="age"> 26 - 35 ans
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="36 - 45 ans" name="age"> 36 - 45 ans
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="46 - 55 ans" name="age"> 46 - 55 ans
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="56 - 65 ans" name="age"> 56 - 65 ans
                </label>
            </div>
        </div>
    </div>
</div>