<div class="row" id="question_page_21" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 21 - Le Conseil de la Vie Sociale :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="col-sm-12 row" style="margin-top: 1%;">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">J’ai identifié les membres du CVS ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input onchange="changezCurseur();document.getElementById('satisfaction_conseilVieSociale').style.display = '';" type="radio" class="form-check-input" value="Oui" name="identifieMembre_conseilVieSociale"> Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input onchange="changezCurseur();document.getElementById('satisfaction_conseilVieSociale').style.display = 'none';" type="radio" class="form-check-input" value="Non" name="identifieMembre_conseilVieSociale"> Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 1%;display: none" id="satisfaction_conseilVieSociale">
                <label style="font-style: italic;">Estimez votre degré de satisfaction :</label>
                <table class="table table-sm" style="width: 120%;text-align: center;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold;text-align: initial; padding-top: 2%;"></td>
                            <td style="font-weight:bold;">Tout à fait d'accord</td>
                            <td style="font-weight:bold;">D'accord</td>
                            <td style="font-weight:bold;">Pas d'accord</td>
                            <td style="font-weight:bold;">Pas du tout d'accord</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: initial">Les représentants du Conseil de la Vie Sociale me consultent avant les réunions</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="representantConsultation_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="representantConsultation_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="representantConsultation_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="representantConsultation_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">Les représentants du Conseil de la Vie Sociale me rapportent ce qui a été dit en réunion</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="representantRapporter_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="representantRapporter_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="representantRapporter_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="representantRapporter_conseilVieSociale"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label style="font-style: italic;">Je souhaite apporter les améliorations suivantes :</label>
                    <textarea class="form-control" rows="3" name="amelioration_conseilVieSociale" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
