<div class="row" id="question_page_8" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 8 - Le dispositif suivi / La formation suivie (préorientation / préparatoire / qualifiant) :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <label style="font-style: italic;">Estimez votre degré de satisfaction :</label>
            <table class="table table-sm" style="width: 120%;text-align: center;">
                <thead>
                    <tr>
                        <td style="font-weight:bold;text-align: initial; padding-top: 2%;">Je suis satisfait(e)</td>
                        <td style="font-weight:bold;">Tout à fait d'accord</td>
                        <td style="font-weight:bold;">D'accord</td>
                        <td style="font-weight:bold;">Pas d'accord</td>
                        <td style="font-weight:bold;">Pas du tout d'accord</td>
                        <td style="font-weight:bold;">Non concerné</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: initial">de la qualité de la formation/dispositif et de son contenu</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="qualiteFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="qualiteFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="qualiteFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="qualiteFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="qualiteFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">des supports de formation</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="supportFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="supportFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="supportFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="supportFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="supportFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">de la maitrise du sujet par le formateur</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="maitriseSujetFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="maitriseSujetFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="maitriseSujetFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="maitriseSujetFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="maitriseSujetFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">de la clarté des explications du formateur</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="clarteExplicationFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="clarteExplicationFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="clarteExplicationFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="clarteExplicationFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="clarteExplicationFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">des interventions collectives du formateur</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="interventionCollectiveFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="interventionCollectiveFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="interventionCollectiveFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="interventionCollectiveFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="interventionCollectiveFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">des interventions individuelles du formateur </td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="interventionIndividuelleFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="interventionIndividuelleFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="interventionIndividuelleFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="interventionIndividuelleFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="interventionIndividuelleFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">du climat favorable de travail et d’échange créé par le formateur</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="climatTravail_echangeFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="climatTravail_echangeFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="climatTravail_echangeFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="climatTravail_echangeFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="climatTravail_echangeFormateur_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">de la durée de la formation/du dispositif</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="dureFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="dureFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="dureFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="dureFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="dureFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">des conditions matérielles en formation (salle, matériel pédagogique ...)</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="conditionMaterielle_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="conditionMaterielle_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="conditionMaterielle_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="conditionMaterielle_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="conditionMaterielle_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">des échanges entre stagiaires</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="echangeStagiaire_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="echangeStagiaire_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="echangeStagiaire_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="echangeStagiaire_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="echangeStagiaire_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">de ce choix de formation/de dispositif</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="choicFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="choicFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="choicFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="choicFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="choicFormationDispositif_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial">de l’accessibilité générale des locaux de formation</td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="accessibiliteGeneralLocauxFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="accessibiliteGeneralLocauxFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="accessibiliteGeneralLocauxFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="accessibiliteGeneralLocauxFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="accessibiliteGeneralLocauxFormation_dispositifSuivi_formationSuivie"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label style="font-style: italic;">Je souhaite apporter les améliorations suivantes :</label>
                <textarea class="form-control" rows="3" name="amelioration_preAccueil" maxlength="200"></textarea>
            </div>
        </div>
    </div>
</div>