<div class="row" id="question_page_2" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 2 - Formations / Dispositifs : </label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préorientation – site de Vouzon " name="formations_dispositifs" > Préorientation – site de Vouzon
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préorientation – site d’Orléans" name="formations_dispositifs" > Préorientation – site d’Orléans
                </label>
            </div>

            <div class="form-check" style="margin-top: 3%;">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Maitrise des savoirs de base / Français Langues Etrangères / Alphabétisation" name="formations_dispositifs" > Maitrise des savoirs de base / Français Langues Etrangères / Alphabétisation
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire générale" name="formations_dispositifs" > Préparatoire générale
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire remise à niveau individualisée" name="formations_dispositifs" > Préparatoire remise à niveau individualisée
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire spécifique tertiaire" name="formations_dispositifs" > Préparatoire spécifique tertiaire
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire spécifique mécanique automobile" name="formations_dispositifs" > Préparatoire spécifique mécanique automobile
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire spécifique contrôle technique" name="formations_dispositifs" > Préparatoire spécifique contrôle technique
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire spécifique technicien bureau d’étude en électricité" name="formations_dispositifs" > Préparatoire spécifique technicien bureau d’étude en électricité
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Préparatoire spécifique électronique" name="formations_dispositifs" > Préparatoire spécifique électronique
                </label>
            </div>

            <div class="form-check" style="margin-top: 3%;">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant tertiaire" name="formations_dispositifs" > Qualifiant tertiaire
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant mécanique automobile" name="formations_dispositifs" > Qualifiant mécanique automobile
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant contrôle technique" name="formations_dispositifs" > Qualifiant contrôle technique
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant technicien bureau d’étude en électricité" name="formations_dispositifs" > Qualifiant technicien bureau d’étude en électricité
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant électronique" name="formations_dispositifs" > Qualifiant électronique
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input onchange="changezCurseur();" type="radio" class="form-check-input" value="Qualifiant diagnostic immobilier" name="formations_dispositifs" > Qualifiant diagnostic immobilier
                </label>
            </div>
        </div>
    </div>
</div>