<div class="row" id="question_page_6" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 6 - Le pré-accueil :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <label style="margin-right: 3%;">J'ai bénéficié d'un pré-accueil ? </label>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="Oui" name="beneficie_preAccueil" onchange="changezCurseur();document.getElementById('question_preAccueil').style.display = '';"> Oui
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="Non" name="beneficie_preAccueil" onchange="changezCurseur();document.getElementById('question_preAccueil').style.display = 'none'"> Non
                </label>
            </div>
            <div class="col-sm-12" style="margin-top: 2%;display: none" id="question_preAccueil">
                <label style="font-style: italic;">Estimez votre degré de satisfaction :</label>
                <table class="table table-sm" style="width: 120%;text-align: center;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold;text-align: initial; padding-top: 2%;">Je suis satisfait(e)</td>
                            <td style="font-weight:bold;">Tout à fait d'accord</td>
                            <td style="font-weight:bold;">D'accord</td>
                            <td style="font-weight:bold;">Pas d'accord</td>
                            <td style="font-weight:bold;">Pas du tout d'accord</td>
                            <td style="font-weight:bold;">Non Concerné</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: initial">des informations reçues lors du pré-accueil</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="information_preAccueil" style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="information_preAccueil" style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="information_preAccueil" style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="information_preAccueil" style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="information_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">des échanges avec les professionnels lors du pré-accueil</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="echange_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="echange_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="echange_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="echange_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="echange_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de la visite de l’établissement lors du pré accueil</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="visite_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="visite_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="visite_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas du tout d'accord" name="visite_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="visite_preAccueil"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label style="font-style: italic;">Je souhaite apporter les améliorations suivantes :</label>
                    <textarea class="form-control" rows="3" name="amelioration_preAccueil" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>