<div class="row" id="question_page_9" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label> 9 - Le projet personnalisé :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="col-sm-12 row" style="margin-top: 1%;">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">J’ai participé à l’élaboration et à la rédaction du projet personnalisé ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Oui" name="elaborationRedaction_projetPersonnalise" > Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Non" name="elaborationRedaction_projetPersonnalise" > Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">J’ai signé un projet personnalisé à chaque actualisation ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Oui" name="signeProjetActualisation_projetPersonnalise"> Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Non" name="signeProjetActualisation_projetPersonnalise" > Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 row">
                <div class="col-sm-8">
                    <label style="margin-right: 3%;">Mon projet personnalisé est actualisé <br>régulièrement ? </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Oui" name="projetActualiseRegulierement_projetPersonnalise" > Oui
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Non" name="projetActualiseRegulierement_projetPersonnalise" > Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 1%;">
                <label>Estimez votre degré de satisfaction :</label>
                <table class="table table-sm" style="width: 120%;text-align: center;">
                    <thead>
                        <tr>
                            <td style="text-align: initial; padding-top: 2%;">Je suis satisfait(e)</td>
                            <td>Tout à fait d'accord</td>
                            <td>D'accord</td>
                            <td>Pas d'accord</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: initial">du suivi de mon projet personnalisé</td>
                            <td><input type="radio" class="form-check-input" value="Tout à fait d'accord" name="suiviProjet_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input type="radio" class="form-check-input" value="D'accord" name="suiviProjet_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input type="radio" class="form-check-input" value="Pas d'accord" name="suiviProjet_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de l’accompagnement du référent de parcours dans le suivi de mon projet personnalisé</td>
                            <td><input type="radio" class="form-check-input" value="Tout à fait d'accord" name="accompagnementReferent_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input type="radio" class="form-check-input" value="D'accord" name="accompagnementReferent_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input type="radio" class="form-check-input" value="Pas d'accord" name="accompagnementReferent_projetPersonnalise"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>