<div class="row" id="question_page_18" style="display: none;">
    <div class="col-sm-12" style="padding: 0">
        <label style="font-weight:bold;text-decoration : underline;"> 18 - La restauration :</label>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="col-sm-12" style="margin-top: 1%;">
                <label style="font-style: italic;">Estimez votre degré de satisfaction :</label>
                <table class="table table-sm" style="width: 120%;text-align: center;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold;text-align: initial; padding-top: 2%;">Je suis satisfait(e)</td>
                            <td style="font-weight:bold;">Tout à fait d'accord</td>
                            <td style="font-weight:bold;">D'accord</td>
                            <td style="font-weight:bold;">Pas d'accord</td>
                            <td style="font-weight:bold;">Non Concerné</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: initial">de la salle de restauration</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="salle_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="salle_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="salle_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="salle_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de la salle de restauration du weekend</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="salleWeekEnd_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="salleWeekEnd_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="salleWeekEnd_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="salleWeekEnd_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">du suivi réalisé par les cuisines de mon régime alimentaire (diabétique, sans sel…)</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="suiviRealiseRegimeAlimentaire_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="suiviRealiseRegimeAlimentaire_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="suiviRealiseRegimeAlimentaire_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="suiviRealiseRegimeAlimentaire_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de la qualité de la restauration</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="qualite_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="qualite_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="qualite_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="qualite_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">des quantités servies</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="quantiteServie_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="quantiteServie_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="quantiteServie_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="quantiteServie_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de l’horaire des repas</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="horaireRepas_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="horaireRepas_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="horaireRepas_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="horaireRepas_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial">de la variété des menus</td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Tout à fait d'accord" name="varieteMenu_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="D'accord" name="varieteMenu_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Pas d'accord" name="varieteMenu_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                            <td><input onchange="changezCurseur();" type="radio" class="form-check-input" value="Non Concerné" name="varieteMenu_restauration"  style="padding: 0;margin: 0;margin-top: 0.3rem;"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label style="font-style: italic;">Je souhaite apporter les améliorations suivantes :</label>
                    <textarea class="form-control" rows="3" name="amelioration_restauration" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>