{% extends 'base.html.twig' %}

{% block title %} Questionnaire de Satisfaction {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/questionnaire_satisfaction.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="{{ asset('js/validationFormulaire.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'commun/heading.html.twig' %}
    <div class="container" style="margin-top:30px;margin-bottom:30px;">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="jumbotron text-center container" style="margin-bottom:0;margin-top: 2%;background-color: white;padding: 0;">
                    <div class="row">
                        <table>
                            <tr>
                                <td>
                                    <h3>Merci d'avoir répondu au questionnaire !</h3>
                                    <h5>  Vos réponses ont bien été enregistré.</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'commun/padding.html.twig' %}
{% endblock %}